a {
    color: #212529;
}
td { 
    vertical-align: middle;
}
td:last-child a {
    text-decoration: underline;
}
th { 
    text-align: center;
    vertical-align: middle;
}
u {
    cursor: pointer;
}
u:hover {
    text-decoration: none;
}
.colspan {
    text-align: center;
}
@media screen and (max-width: 500px)  {
    .row {
        padding: 1rem;
    }
    .main-content {
        max-width: 100%;
    }
    .lists-cols {
        flex-direction: column;
        padding: 0 1rem;
    }
    .lists-cols > div:last-child {
        margin-left: 0;
    }
}