header {
    background: url(../img/head1.jpg);
    padding: 30px 0;
    margin-bottom: 2rem;
}
header > div {
    color: #fff;
    width: 90%;
    margin: auto;
}
header > div > h3 {
    font-size: 2.5rem;
}
nav {
    margin-top: 0;
    width: 90%;
    margin: 20px auto;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(32, 51, 71);
}
form > input {
    height: 2rem;
}
a {
    color: #212529;
}
ul {
    list-style: none;
}
h6 {
    font-weight: bold;
}
.lists-cols > div > ul {
    padding: 0;
}
.lists-cols > div > ul > li {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: rgba(32, 51, 71, 0.8);
    color: #ffffff;
}
.lists-cols > div > ul > li > a {
    color: #ffffff;
}
.collapseList:hover {
    text-decoration: underline;
}
.submenu > .card {
    text-decoration: none;
    border: none;
    background: rgba(255,255,255,0.7);
    margin-bottom: 10px;
}
.submenu > .card > ul {
    list-style: circle;
}
.submenu > .card > ul > li {
    cursor: pointer;
    margin-bottom: 5px;
}
.submenu > .card > ul > li:hover {
    text-decoration: underline;
}
.card.bgLight {
    background: rgba(248,249,250,0.5);
}
tbody {
    background:rgba(248,249,250,0.7);
}
.table-ex {
    text-align: center;
}
td { 
    vertical-align: middle;
}
td:last-child a {
    text-decoration: underline;
}
th { 
    text-align: center;
    vertical-align: middle;
}
u {
    cursor: pointer;
}
u:hover {
    text-decoration: none;
}
.colspan {
    text-align: center;
}
@media screen and (max-width: 992px)  {
    .navbar {
        height: 57px;
    }
    .navbar-collapse {
        padding: 10px;
        background-color: rgb(32, 51, 71);
    }
}
@media screen and (max-width: 500px)  {
    .row {
        padding: 1rem;
    }
    .main-content {
        max-width: 100%;
    }
    .lists-cols {
        flex-direction: column;
        padding: 0 1rem;
    }
    .lists-cols > div:last-child {
        margin-left: 0;
    }
}